/*reglas generales*/
* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    padding: 15px;
}

.titulo {
    text-align: center;
}

.titulo span {
    color: #037BC0;
    text-align: center;
}

.menu {
    width: 100%;
    text-align: center;
}

.list-items {
    list-style: none;
}

.list-items li {
    display: inline-block;
    padding: 15px 15px;
}

.hero {
    width: 100%;
    height: 35vh;
    background-image: url(principal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    line-height: 35vh;
}

.productos {
    width: 80%;
    margin: 0 auto;
}

.titulo-producto {
    padding: 10px;
    text-align: center;
}

.producto-uno {
    width: 100%;
    height: 30vh;
    text-align: center;
    color: white;
    border: 1px solid #eee;
    border-radius: 5px;
}

.imagen-producto-grande {
    width: 50%;
    float: left;
    height: 100%;
    line-height: 20vh;
    color: black;
    background-image: url(producto1.jpg);
    background-size: cover;
}

.detalle-producto-grande {
    width: 50%;
    height: 100%;
    padding: 2px 16px;
    float: left;
    background-color: #037BC0;
}

.button{
    color: white;
    width: 200px;
    background-color: lawngreen;
    padding: 10px;
    display: inline-block;
    margin-top: 5px;
}

.producto-dos {
    width: 49%;
    height: 50vh;
    text-align: center;
    color: white;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 1px solid #eee;
    border-radius: 5px;
}

.imagen-producto-grande-2 {
    width: 100%;
    height: 50%;
    color: black;
    line-height: 15vh;
}

.detalle-producto-grande-2 {
    padding: 2px 16px;
    background-color: #037BC0;
    height: 50%;
}

.producto-tres {
    width: 32%;
    height: 60vh;
    text-align: center;
    color: white;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 1px solid #eee;
    border-radius: 5px;
}

.imagen-producto-grande-3 {
    width: 100%;
    height: 60%;
    color: black;
    line-height: 15vh;
}

.detalle-producto-grande-3 {
    padding: 2px 16px;
    background-color: #037BC0;
}

.categorias {
    width: 80%;
    margin: 0 auto; 
}

.categoria {
    width: 32%;
    height: 40vh;
    border-radius: 5px;
    display: inline-block;
    margin: 0 5px;
}

.imagen-categoria {
    text-align: center;
    height: 90%;
    background-size: cover;
}

.detalle-categoria {
    font-size: 1.4em;
    text-align: center;
}

.detalle-categoria a {
    text-decoration: none;
    color: black;
}

.img1 {
    background-image: url(categoria1.jpg);
}

.img2 {
    background-image: url(categoria2.jpg);
}

.img3 {
    background-image: url(categoria3.jpg);
}

.footer {
    width: 80%;
    margin: 0 auto;
}

.opciones {
    width: 32%;
    height: 25vh;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}

.lista-opciones {
    list-style: none;
    padding: 0;
}

.lista-opciones a {
    text-decoration: none;
    color: black;
}
/*Media Query*/

/** Reescribir colores */

/** Productos */
