/*reglas generales*/
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    /* font-size: 1.6rem; */
    /* line-height: 2; */
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.header {
    width: 100%;
    padding: 15px;
}

.titulo {
    text-align: center;
}

.color-titulo {
    color: #037BC0;
    text-align: center;
}

/* .menu {
    width: 100%;
    text-align: center;
} */

/* .list-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.list-items li {
    padding: 15px 15px;
}

.list-items a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
} */

.hero {
    width: 100%;
    height: 65vh;
    background-image: url(principal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    line-height: 35vh;
}

.productos {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.producto {
    height: 30vh;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 5px 0;
}

.producto:nth-child(1) {
    flex-basis: 100%;
    display: flex;
}

.producto:nth-child(2) {
    flex-basis: 49%;
    height: 50vh;
}

.producto:nth-child(3) {
    flex-basis: 49%;
    height: 50vh;
}

.producto:nth-child(4) {
    flex-basis: 33%;
    height: 50vh;
}

.producto:nth-child(5) {
    flex-basis: 33%;
    height: 50vh;
}

.producto:nth-child(6) {
    flex-basis: 33%;
    height: 50vh;
}

.imagen-grande {
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.texto-grande {
    width: 40%;
    height: 100%;
    /* padding: 20px; */
    text-align: center;
    background-color: cornflowerblue;
    color: #fff;
}

.button {
    text-decoration: none;
    color: #fff;
    background-color: limegreen;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.imagen-grande-2 {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
}       

.texto-grande-2 {
    width: 100%;
    height: 50%;
    /* padding: 10px; */
    text-align: center;
    margin: 0 auto;
    background-color: cornflowerblue;
    color: #fff;
}

.texto-grande-2 h2 {
    margin: 0;
}

.imagen-grande-3 {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
}       

.texto-grande-3 {
    width: 100%;
    height: 50%;
    /* padding: 10px; */
    text-align: center;
    background-color: cornflowerblue;
    margin: 0 auto;
    color: #fff;
}

.texto-grande-3 h2 {
    margin: 0;
}


/* CATEGORIAS */
.categoria {
    width: 32%;
    height: 40vh;
    border-radius: 5px;
    display: inline-block;
    margin: 0 5px;
}

.imagen-categoria {
    text-align: center;
    height: 90%;
    background-size: cover;
}

.detalle-categoria {
    font-size: 1.4em;
    text-align: center;
}

.detalle-categoria a {
    text-decoration: none;
    color: black;
}

.img1 {
    background-image: url(categoria1.jpg);
}

.img2 {
    background-image: url(categoria2.jpg);
}

.img3 {
    background-image: url(categoria3.jpg);
}

/* FOOTER */
.footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: #000;
}


/*IMAGENES*/
.imagen1 {
    background-image: url(producto1.jpg);
}

.imagen2 {
    background-image: url(producto2.jpg);
}

.imagen3 {
    background-image: url(producto3.jpg);
}

.imagen4 {
    background-image: url(producto4.jpg);
}

.imagen5 {
    background-image: url(producto5.jpg);
}

.imagen6 {
    background-image: url(producto6.jpg);
}

/*Media Query*/

@media screen and  (max-width: 768px) {
    .productos {
        width: 100%;
        margin: 0 auto;
        /* display: flex; */
    }
    .producto {
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: row;
    }

    .producto:nth-child(1) {
        width: 100%;
        height: 30vh;
        flex-basis: 100%;
    }

    .producto:nth-child(2),
    .producto:nth-child(3),
    .producto:nth-child(4),
    .producto:nth-child(5),
    .producto:nth-child(6) 
    {
        width: 100%;
        height: 30vh;
        flex-basis: 100%;
    }

    .texto-grande,
    .texto-grande-2,
    .texto-grande-3, 
    .texto-grande-4, 
    .texto-grande-5, 
    .texto-grande-6 
    {
        width: 40%;
        height: 100%;
        font-size: 10px;
    }

    .imagen-grande-2,
    .imagen-grande-3,
    .imagen-grande-4,
    .imagen-grande-5,
    .imagen-grande-6
    {
        width: 60%;
        height: 100%;
    }

    .categorias {
        width: 80%;
        margin: 0 auto;
    }
    .categoria {
        width: 30%;
    }

    .imagen-categoria {
        background-size: cover;
        background-position: center;
    }

    .footer {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .categoria {
        width: 100%;
        overflow: hidden;
    }

}

/** Reescribir colores */

.bs-blue {
    color: #037BC0;
}

.bs-green {
    color: #0CBC00;
}

/** Productos */
